#constant_navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  align-self: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

#constant_navbar .navbar_section_name {
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-family: var(--Heading);
}

#constant_navbar .navebar_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#constant_navbar .navebar_profile .search_bar {
  width: 300px;
  height: fit-content;
}

#constant_navbar .navebar_profile .search_bar .search_for_all_section {
  height: 100%;
  width: 100%;
  padding: 10px 15px;
  outline: none;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 20px;
}

#constant_navbar .navebar_profile .bell_icon {
  padding: 5px;
  cursor: pointer;
}

.notifications {
  position: fixed;
  top: 80px;
  right: -100%;
  width: 300px;
  height: calc(100vh - 80px);
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(61, 61, 61, 0.1);
  padding: 10px;
  z-index: 100;
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
  justify-content: flex-start;
}

.notifications.active {
  right: 5px;
}

#constant_navbar .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  /* padding: 5px; */
  border-radius: 15px;
}

#constant_navbar .profile img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#constant_navbar .profile .profile_data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#constant_navbar .profile_data .user_name {
  font-size: 18px;
  font-weight: 550;
}

#constant_navbar .profile_data .user_email {
  font-size: 14px;
}


#constant_navbar .toggle_button_con {
  height: 40px;
  width: 40px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: var(--owner_home_page_hover_coloer);
  }
}

#constant_navbar .toggle_button_con img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #constant_navbar {
    padding: 10px 5px;
  }

  #constant_navbar .navbar_section_name {
    font-size: 20px;
  }

  #constant_navbar .navebar_profile .search_bar {
    width: 200px;
  }

  #constant_navbar .profile img {
    height: 40px;
    width: 40px;
  }

  #constant_navbar .profile_data .user_name {
    font-size: 16px;
  }

  #constant_navbar .profile_data .user_email {
    font-size: 12px;
  }

  #constant_navbar .toggle_button_con {
    height: 30px;
    width: 30px;
  }
}

@media screen and (max-width: 480px) {
  #constant_navbar .profile .profile_data {
    display: none;
  }
}