


@keyframes tttttt {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
  
  #OwnerSideBar {
    height: 100vh;
    width: var(--owner_side_bar_width);
    max-width: var(--owner_side_bar_width);
    background-color: var(--owner_home_page_ui);
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    position: fixed;
    left: 0;
    top: 0;
    transition: all var(--owner_home_page_sidebar_time) ease-in-out;
  }
  #OwnerSideBar .toggle_button_con {
    margin-top: 10px;
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 5px;

    cursor: pointer;
    &:hover{
      background: var(--owner_home_page_hover_coloer);
    }
  }
  
  #OwnerSideBar .toggle_button_con img {
    height: 100%;
    width: 100%;
  }
  
  #OwnerSideBar .side_bar_title {
    font-size: 20px;
    
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    margin-top: 20px;
  }
  
  #OwnerSideBar .side_bar_title .title_bar_img {
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    margin-right: 10px;
   
  }
  
  #OwnerSideBar .side_bar_title .title_bar_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  #OwnerSideBar .side_bar_title .title_bar_text  {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: hidden; 
    font-family: var(--Heading);
    font-weight:var(--Heading_weight) ;
    animation: tttttt var(--owner_home_page_sidebar_time) ease-in-out;
  }
  
  #OwnerSideBar .category_con {
    margin-top: 20px;
    position: relative;
    /* background: #640f0f6b; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
  }
  
  #OwnerSideBar .category_con .side_menu {
   height: 100%;
   width: 5px;
   position: absolute;
   left: -5px;
   background: var(--owner_home_page_ui_color);
   border-radius: 10px;
  }
  

  
  #OwnerSideBar .category_con .item {
    display: flex;
    align-items: center;
    padding: 10px 7px;
    cursor: pointer;
    border-radius: 5px;

    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    padding-left: 5px;
    cursor: pointer;
    height: 60px;
    width: 100%;
    /* background: rebeccapurple; */
    &:hover{
        background-color: var(--owner_home_page_hover_coloer);
    }
  }
  #OwnerSideBar .category_con .item.active {
    background: transparent;
   &:hover{
        background-color: none;
    }
  }

  #OwnerSideBar .category_con .active_me_slider {
    position: absolute;
    left: -5px;
    width: calc(100% + 5px);
    height: 60px;
    background-color: #007bff;
    background: var(--owner_home_page_bg);
    border-radius: 5px;
    transition: all var(--owner_home_page_sidebar_time) ease-in-out;

    /* background: rebeccapurple; */

    &:hover{
        background-color: none;
    }

    &::after{
        content: '';
        height: 40px;
        width: 40px;
        position: absolute;
        top: -39px;
        right: -1px;
      
        border-radius: 0% 23% 80% 0% / 10% 0% 80% 10%  ;
        box-shadow: var(--owner_home_page_bg) 11px 11px 0px
    }
    &::before{
        content: '';
        height: 40px;
        width: 40px;
        position: absolute;
        bottom: -39px;
        right: -1px;
        /* background: rebeccapurple; */
        border-radius:0% 80% 0% 59% / 80% 80% 0% 0%   ;
        box-shadow: var(--owner_home_page_bg) 11px -11px 0px
    }
  }


  
  #OwnerSideBar .category_con .active_me_slider_set {
    position: absolute;
    bottom: 10px;
    left: -5px;
    width: calc(100% + 5px);
    height: 60px;
    background-color: #007bff;
    background: var(--owner_home_page_bg);
    border-radius: 5px;
    transition: all var(--owner_home_page_sidebar_time) ease-in-out;

    background: rebeccapurple;

    &:hover{
        background-color: none;
    }

    &::after{
        content: '';
        height: 40px;
        width: 40px;
        position: absolute;
        top: -39px;
        right: -1px;
      
        border-radius: 0% 23% 80% 0% / 10% 0% 80% 10%  ;
        box-shadow: var(--owner_home_page_bg) 11px 11px 0px
    }
    &::before{
        content: '';
        height: 40px;
        width: 40px;
        position: absolute;
        bottom: -39px;
        right: -1px;
        /* background: rebeccapurple; */
        border-radius:0% 80% 0% 59% / 80% 80% 0% 0%   ;
        box-shadow: var(--owner_home_page_bg) 11px -11px 0px
    }
  }




  #OwnerSideBar .category_con .item .icon {
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
    margin-right: 10px;
  }
  
  #OwnerSideBar .category_con .item .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }


#OwnerSideBar .category_con .item .text {
  display: inline-block; 
  font-size: 14px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: hidden; 
  font-family: var(--sub_heading);
  font-weight: var(--sub_heading_weight);
  animation: tttttt var(--owner_home_page_sidebar_time) ease-in-out;
}

  
  #OwnerSideBar .user_profile {
    /* background: rebeccapurple; */
    position: absolute;
    bottom: 5px;
    left: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    
    padding: 0px 8px;
    &:hover{
        background-color: var(--owner_home_page_hover_coloer);
    }
  }
  #OwnerSideBar .user_profile .user_icon_1{
    height: 50px;
    width: 50px;
    padding: 4px;
    background: transparent;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:  0 0 50px;
  }
  #OwnerSideBar .user_profile .user_icon_1 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: fill;
  }

  #OwnerSideBar .user_profile .user_data{
    /* background: red; */
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-family: var(--sub_heading);
    font-weight: var(--sub_heading_weight);
    animation: tttttt var(--owner_home_page_sidebar_time) ease-in-out;
  }
  #OwnerSideBar .user_profile .user_data .user_name {
    font-size: 1.1rem;
    flex: 1;
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
}

#OwnerSideBar .user_profile .user_data .user_email {
    font-size: 0.9rem;
    color: gray;
    flex: 1;
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
}