/* skeleton loader start */
/* Skeleton Loader Styles */
.skeleton-loader-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.skeleton-loader:nth-child(odd) {
  width: 300px;
  height: 200px;
}

.skeleton-loader:nth-child(even) {
  width: 150px;
  height: 120px;
}

.skeleton-loader {
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: 10px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

/* end of skeleton loader  */

.all_photos_and_folder_container {
  height: 100vh;
  min-height: fit-content;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  overflow-y: scroll;
  position: relative;
}

.all_photos_and_folder_container .folder_tabs {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: fixed;
  top: 70px;
  background: white;
}

.all_photos_and_folder_container .folder_tabs .folder_tab {
  padding: 10px 15px;
  border: 1px solid #111;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.all_photos_and_folder_container .folder_tabs .folder_tab:hover {
  background-color: lightgrey;
  scale: 1.05;
}

.all_photos_and_folder_container .folder_tabs .folder_tab.active {
  background-color: lightblue;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}

.all_photos_and_folder_container .folder_container .folder_names_toggle_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.all_photos_and_folder_container .photo_container .photos_grid {
  width: fit-content;
  padding: 10px 15px;
  margin-top: 65px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.all_photos_and_folder_container .photo_container .photos_grid .photo_card {
  margin-bottom: 20px;
  flex: 250px;
  height: 300px;
}

.all_photos_and_folder_container .photo_container img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: rgba(149, 157, 165, 0.347) 0px 8px 24px;
}



.all_photos_and_folder_container .folder_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all_photos_and_folder_container .folder_container h3 {
  font-size: 40px;
  text-align: center;
}

.all_photos_and_folder_container .folder_container .folder_grid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: fit-content;
  width: 100%;
  height: 300px;
  padding: 20px;
  gap: 20px;
}

.all_photos_and_folder_container .folder_container .individual_folder_preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.all_photos_and_folder_container .folder_container .individual_folder_preview .image_container {
  height: 200px;
  width: 200px;
  object-fit: cover;
  position: relative;
  cursor: pointer;
}

.all_photos_and_folder_container .folder_container .individual_folder_preview .image_container span {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 100%;
  height: 20%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.all_photos_and_folder_container .folder_container .individual_folder_preview img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.all_photos_and_folder_container .full_view_image_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.726);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  backdrop-filter: blur(2px);
}

.all_photos_and_folder_container .full_view_image_container .full_view_image {
  height: 96vh;
  object-fit: contain;
}

.all_photos_and_folder_container .full_view_image_container .button_container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.all_photos_and_folder_container .full_view_image_container button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  font-weight: 550;
  font-family: var(--Heading);
  box-shadow: rgba(10, 10, 10, 0.66) 1.95px 1.95px 2.6px;
}

.all_photos_and_folder_container .full_view_image_container button:hover .download_logo,
.all_photos_and_folder_container .full_view_image_container button:hover .close_logo {
  animation: upDown 0.6s ease-in-out alternate;
}

@media (max-width: 850px) {
  .all_photos_and_folder_container .photo_container .photos_grid .photo_card {
    margin-bottom: 5px;
  }
}

@media (max-width: 550px) {
  .all_photos_and_folder_container .photo_container .photos_grid .photo_card {
    margin-bottom: 10px;
    flex: 180px;
    height: 200px;
  }
}

@media (max-width: 420px) {
  .all_photos_and_folder_container .photo_container .photos_grid {
    gap: 6px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .all_photos_and_folder_container .photo_container .photos_grid .photo_card {
    margin-bottom: 5px;
  }
}

@media (max-width: 350px) {
  .all_photos_and_folder_container .photo_container .photos_grid {
    gap: 6px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .all_photos_and_folder_container .photo_container .photos_grid .photo_card {
    margin-bottom: 5px;
  }
}