.Calendar_con {
    background: var(--admin_ui_coloer);
    height: fit-content;
    width: 360px;
    margin-top: -210px;
    margin-left: 10px;
    padding: 20px;
    border-radius: var(--admin_box_radius);
    box-sizing: var(--admin_box_shadow);
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

.Fill {
    background: var(--admin_ui_coloer);
    height: fit-content;
    width: 360px;
    margin-top: -210px;
    margin-left: 10px;
    padding: 20px;
    border-radius: var(--admin_box_radius);
    box-sizing: var(--admin_box_shadow);
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease;



    min-height: 500px;
    background: #0000001a;
}


/* From Uiverse.io by alexruix */
.Fill .loader {
    position: relative;
    width: 120px;
    height: 90px;
    margin: 0 auto;
}

.Fill .loader:before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #2a9d8f;
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.Fill .loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 7px;
    width: 45px;
    border-radius: 4px;
    box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
    animation: loading-step 1s ease-in-out infinite;

}

@keyframes loading-bounce {
    0% {
        transform: scale(1, 0.7);
    }

    40% {
        transform: scale(0.8, 1.2);
    }

    60% {
        transform: scale(1, 1);
    }

    100% {
        bottom: 140px;
    }
}

@keyframes loading-step {
    0% {
        box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2,
            -70px 90px 0 #f2f2f2;
    }

    100% {
        box-shadow: 0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2,
            -70px 90px 0 #f2f2f2,
            -70px 90px 0 rgba(0, 0, 0, 0);
    }
}

.Calendar_con:hover {

    box-shadow: var(--admin_box_shadow_hover);
}


.Calendar_con .title_bar_sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    font-size: 1.4rem;
    /* gap: 18px; */
    width: 100%;
}

.Calendar_con .title_bar_sub .navigation {
    display: flex;

}

.Calendar_con .title_bar_sub .navigation .left,
.Calendar_con .title_bar_sub .navigation .right {
    height: 45px;
    width: 45px;
    padding: 10px;
    display: flex;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
        background: rgba(212, 212, 212, 0.192);
    }
}

.Calendar_con .title_bar_sub .navigation img {
    height: 100%;
    width: 100%;
}


.Calendar_con .day_list_con {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
}

.Calendar_con .day_list_con .all_day {
    display: flex;
    justify-content: space-evenly;
}

.Calendar_con .day_list_con .all_day span {
    height: 40px;
    width: 40px;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Calendar_con .day_list_con .only_day {
    display: flex;
    justify-content: space-evenly;
}

.Calendar_con .day_list_con .only_day span {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
        background: rgba(212, 212, 212, 0.192);
    }
}

.Calendar_con .day_list_con .only_day span.active {
    background: #6d61e5;
    /* background: red; */
}

.Calendar_con .list_of_active_task {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.Calendar_con .list_of_active_task .item_con {
    /* width: 330px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;

    &:hover {
        background: rgba(212, 212, 212, 0.421);
    }
}

.Calendar_con .list_of_active_task .item_con .icon {
    height: 60px;
    width: 60px;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    background: #eceef5;
}

.Calendar_con .list_of_active_task .item_con .icon img {
    height: 100%;
    width: 100%;
}

.Calendar_con .list_of_active_task .item_con .data {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Calendar_con .list_of_active_task .item_con .data .title {
    font-size: 1.2rem;
    font-weight: 500;
}

.Calendar_con .list_of_active_task .item_con .data .message_Data {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.Calendar_con .list_of_active_task .item_con .data .message_Data .time,
.Calendar_con .list_of_active_task .item_con .data .message_Data .sub_data {
    display: flex;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    height: 19px;
    /* background: rebeccapurple; */
    align-items: center;
    gap: 2px;
}

.Calendar_con .list_of_active_task .item_con .data .message_Data .time img,
.Calendar_con .list_of_active_task .item_con .data .message_Data .sub_data img {
    height: 100%;
    /* width:  100%; */
}

.Calendar_con .list_of_active_task .item_con .data .message_Data .time img {
    height: 15px;
}